<template>
  <div class="md:sticky top-0 left-0 right-0 bg-green-300 bg-opacity-70 p-1 print:hidden">
    <div class="flex p-1">
      <a href="#before" v-on:click="decrementYear" class="p-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
      </a>
      <select class="flex-grow p-1 border-1 appearance-none text-xs mx-2" v-model="year" v-on:change="updateYear(year)">
        <option v-for="option in years">{{ option }}</option>
      </select>
      <a href="#next" v-on:click="incrementYear" class="p-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
      </a>
    </div>
  </div>
</template>

<script>
import Range from "../helper/Range";
export default {
  props : {
    activeYear : Number
  },
  data : function(){
    return {
      years : Range(2010, 2030),
      year : this.activeYear
    }
  },
  methods : {
    incrementYear()
    {
      this.updateYear(
          (
              !this.years.includes(this.year + 1) ?
              Math.min(...this.years) :
              this.year + 1
          )
      );
    },
    decrementYear()
    {
      this.updateYear(
          (
              !this.years.includes(this.year - 1) ?
              Math.max(...this.years) :
              this.year - 1
          )
      );
    },
    updateYear(year)
    {
      this.year = year;
      this.$emit('update-year', year);
    }
  }
}
</script>
